/* popup.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

button {
    color: #111111;
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
}

label {
    color: #111111;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#elementActionsTitle {
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #111111;
    position: relative;
    font-size: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

#closeButton {
    cursor: pointer;
 
}

#selectMultipleCheckbox {
    margin-right: 5px;
}

#intervalInput {
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    width: 60px;
}

#actionsContainer {
    display: flex;
    align-items: center;
}
